$colorWhite:hsl(252, 30%, 100%);
$colorLight:hsl(252, 30%, 95%);
$colorGray:hsl(252, 15%, 65%);
$colorPrimary:hsl(252, 75%, 60%);
$colorSecondary:hsl(252, 100%, 90%);
$colorDark:hsl(120, 95%, 65%);
$colorDanger:hsl(0, 95%, 65%);
$colorDark:hsl(252, 30%, 17%);
$colorBlack:hsl(252, 30%, 10%);

$borderRadius:2rem;
$cardBorderRadius:1rem;
$btnPadding:0.6rem 2rem;
$searchPadding:0.6rem 1rem;
$cardPadding:1rem;